.contacts {
    max-width: 320px;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {

    .contacts {
        max-width: 720px;
    }

}

@media screen and (min-width: 1024px) {

    .contacts {
        max-width: 928px;
    }

}

@media screen and (min-width: 1280px) {

    .contacts {
        max-width: 1184px;
    }

}