.contacts__link {
    width: 46px;
    height: 46px;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

@media screen and (min-width: 768px) {

    .contacts__link:hover {
        opacity: .8;
    }

}