.about__title_black {
    color: #000000;
    padding: 0;
    margin: 60px 0 0 0;
}

@media screen and (min-width: 768px) {

    .about__title_black {
        margin: auto;
        width: 270px;
    }

}