@keyframes appearance-right {
    0% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.about__subtitle_black {
    color: #000000;
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-animation: appearance-right .8s forwards;
    animation: appearance-right .8s forwards;
}

@media screen and (min-width: 768px) {

    .about__subtitle_black {
        margin: auto;
        width: 270px;
    }

}