@media screen and (min-width: 1024px) {

	.tooltip {
		border-bottom: 1px dotted #0077AA;
		cursor: help;
		font-size: 12px;
	}

	.tooltip::after {
		background: rgba(0, 0, 0, 0.8);
		border-radius: 8px;
		color: #FFF;
		content: attr(data-tooltip);
		margin-top: -180px;
		opacity: 0;
		padding: 3px 7px;
		position: absolute;
		visibility: hidden;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.tooltip:hover::after {
		opacity: 1;
		visibility: visible;
	}

}