.about__titles {
    padding: 90px 0 0 0;
    margin: auto;
    background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {

    .about__titles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 190px;
    }

}