.menu__link {
    text-decoration: none;
    color: #000000;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {

    .menu__link {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }

    .menu__link:hover {
        opacity: .8;
    }

}