.popup__link {
    margin: 40px auto 40px auto;
    display: flex;
    width: 220px;
    height: 40px;
    background-color: #000000;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 12px;
    transition: opacity .4s linear;
}

@media screen and (min-width: 1024px) {

    .popup__link:hover {
        opacity: .8;
    }

}