.menu {
    max-width: 320px;
}

@media screen and (min-width: 768px) {

    .menu {
        max-width: 720px;
    }

}

@media screen and (min-width: 1024px) {

    .menu {
        max-width: 928px;
    }

}

@media screen and (min-width: 1280px) {

    .menu {
        max-width: 1184px;
    }

}